.container {
    display: grid;
    height: 100%;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: 150px 80px 1fr;

    
}
@media screen and (max-width: 600px) {
    .container {
      width: 100%;
    }
  }
.header {
    grid-column: 1/-1;
    grid-row: 1/2;
    margin: auto;
    justify-content: center;
    position: relative;

}
/*.header img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
}*/
.title {
    font-family: 'Special Elite', cursive;
    font-size: 48px;
    display: inline-block;
    margin-left: 10px;
}
.subhead {
    font-family: 'Special Elite', cursive;
    font-size: 16px;
    position: absolute;
    margin-left: 125px;
    margin-top: -20px;

}
.navbar {
    background-color: rgb(144, 238, 191);
    

}
.navicons {
   
}
.icon {
    padding-top: 10px;
    padding-right: 20px;
}
.subtext {
    font-family: 'Quicksand',sans-serif;
    font-size: 1vw;
    grid-column: 3/4;
    grid-row: 3/4;
    margin-right: 20px;
    min-width: 50px;
}
.subcontainer {
    grid-column: 1/3;
    grid-row: 3/4;
}
.largeimg {
    float: left;
    height: auto;
    width: 100%;
    min-width: 300px;
    max-width: fit-content;
}
/*.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
    grid-template-rows: 150px 80px 10px 500px;
}
.imgcontainer {
    border-style: solid;
    border-radius: 2px;
    display: inline-block;
    grid-auto-flow: dense;
    grid-row: 2/1fr;
}*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    margin-top: 50px;
  }
  
  /* Create equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

.imgcontent {
    width: 100%;
    height: auto;
    min-width: 100px;
    max-width: auto;
}
.footer {
    background-color: gray;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-block-start: 10px;
    margin-top: 100px;
}
